[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py2app = "*"
numpy = "*"
opencv-python = "*"
darknet = "*"
opencv-python-headless = "*"

[dev-packages]

[requires]
python_version = "3.9"
